.title {
    font-family: 'Comfortaa', cursive;
    font-size: 32pt;
    font-weight: 300;
    /*text-shadow: 1px 2px 3px rgb(51, 122, 183);*/
    text-align: center;
    color: rgba(68, 68, 68, 0.89);
    margin-bottom: 30px;
}


.jg-entry
{
}

.picture{
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.picture:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.rating{
    font-family: 'Comfortaa', cursive;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: large;
}

.new_font {
    font-family: 'Comfortaa', cursive;
    font-size: 16pt;
    min-width: 230px;
}
.nav-tabs {
    font-family: 'Comfortaa', cursive;
    font-size: 14pt;
}

@media screen and (max-width: 991px){
    .thumbnail_new {
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        padding: 0 10px;
        max-width: 32%;
        min-width: 170px;
    }
}

@media screen and (max-width: 540px) {
    .nav-tabs {
        font-size: 12pt;
    }
}
.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px; border-radius:50px;
    text-align: right;
    font-family: 'Comfortaa', cursive;
    font-size: 16pt;}
.button_upload {
    text-align: center;
}
.bg-danger, .bg-success{
    margin-top: 20px;
    font-size: 16pt;
    padding: 15px;
}

.icon-btn{
    margin-bottom: 2em;
}

.gold .star-on-png {
    color: gold;
}

.star-on-png {
    -webkit-text-stroke:1px #000000;
    font-size: 18px;
}
